@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  h1 {
    font-size: 40px;
    font-weight: 500;
    color: #191d21;
    
  }

 p {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 24px 16px 24px;
    color: #191d21;
  }
  
.banner-wrap {
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 32px;
}
.nav-item {
    padding: 5px 15px;
    cursor: pointer;
    
}
.nav-item:hover {
    background-color: #d8d9da;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}
.logo {
    height: 24px;
    width: 120px;
    cursor: pointer;
}


main {
    text-align: center;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-section {
    margin-top: calc(114px - 56px);
}
.actions-area {
    margin-bottom: 100px;
}
button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    background-color: yellow;
    width: 264px;
    height: 40px;
    padding: 7px 27px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-dark {
    background-color: #191d21;
    color: white;
}

.btn-light {
    background-color: #e4e4e2 ;
    color: #393c41;
}

.btn-dark:hover{
    color: #fff;
}

.btn-light:hover{
    color:#191d21;
}

.tds-link {
    --tds-link--icon-margin: calc((var(--tds-icon--size) + var(--tds-size--half))*-1);
    background-color: transparent;
    border: 0;
    box-shadow: 0 var(--tds-border-width--small) 0 0 currentColor;
    color: var(--tds-theme-foreground);
    cursor: pointer;
    font-family: var(--tds-font-family--combined);
    padding: 0;
    position: relative;
    text-align: initial;
    transition: box-shadow .33s var(--tds-bezier),color .33s ease;
}

